div{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    align-items: flex-start;
    margin: auto;
}

table{
    background-color: #6b7bde;
    border: 5px solid rgb(9, 9, 86);
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    color: rgb(39, 6, 66);
}

.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgba(12, 213, 231, 0.516);
}


body{
    background-color: rgb(49, 15, 83);
}